header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(#252e34da, #252e34), url('../../../assets/img/background-main.jpg') no-repeat bottom;
    background-size: cover;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;

}